@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 7px;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf1e;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 40%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dfdfdfa2;
}
body {
  background: radial-gradient(circle, #292b2f 0, #000 100%);
  font-family: "Afacad", sans-serif;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90svh;
    .row {
      display: flex;
      .projects-title {
        h2 {
          text-align: center;
          margin-bottom: 3rem;
        }
      }
      .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        .full-stack {
          border-left: solid 1px #272727;
          padding-left: 10px;
          color: white;
          margin-bottom: 0.5rem;
        }
        .my-stack {
          color: #ffffffb2;
          margin-bottom: 1px;
          svg {
            color: rgb(255 255 255 / 17%);
            transition: all 0.2s;
            margin: 0 1px;
            font-size: 20px;
            &:hover {
              color: white;
            }
          }
        }
      }
      .projects {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        overflow-y: auto;
        scroll-behavior: smooth;
        max-height: 490px;
        .project {
          border: solid 1px rgba(255, 255, 255, 0);
          margin: 10px;
          border-radius: 1rem;
          text-align: center;
          background: #0000006e;
          transition: border 0.4s;
          a {
            height: 100%;
            display: block;
            padding: 10px;
            transition: padding 0.5s;
            .project-div {
              display: grid;
              align-content: space-between;
              height: 100%;
              .stack {
                border-top: 1px solid #ffffff0d;
                padding-top: 5px;
                font-size: 20px;
                svg {
                  margin: 0 5px;
                }
              }
            }
          }
          &:hover {
            border: solid 1px rgba(255, 255, 255, 0.55);
            box-shadow: 0px 5px 8px rgba(38, 38, 38, 0.6);
          }
        }
      }
    }
  }
}
