body {
  background: black;
  font-family: monospace;
  color: white;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}
.hero-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  display: grid;
  justify-content: center;
}
.project {
  border: solid 1px white;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
  transition: width 1.5s;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.row {
  display: flex;
}
