html{
    
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    //overflow: hidden;
    a{
        text-decoration: none;
        color: darkcyan;
    }
}
#wisam{
    border-radius: 2rem;
    border: 3px solid white;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;

}

.container{

text-align: center;
}
.card {

    //background-color: darkblue;
}
.card{
    h1 {
        padding-top: 20%;
    }
    display: block;
    height: 100vh;
}


