html{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
    
    font-family: 'Baloo 2',
    cursive;
}
#bar{
    border: solid 1px white;
    border-radius: 1rem;
    width: 90px;
    position:sticky;
    top: 40%;
    text-align: center;
    z-index: 5;
    ul{
        a{

            text-decoration: none;
            color: white;
        }
        margin-left: -40%;
    }

}
body{
    
    background-color: black;
    // background-image: url(/images/bg8.jpg);
    margin: 0;
    color: whitesmoke;
    //overflow: hidden;
    a{
        text-decoration: none;
        color: darkcyan;
    }
}
button{
    
    
    border-radius:50%;
    border: 0px solid rgba(255, 255, 255, 1);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: whitesmoke;
    cursor: pointer;
}

.container{
    
    text-align: center;
}
//background-color: darkblue;

.card{
    
    h1 {
        padding-top: 20%;
    }
    display: block;
    height: 100vh;
    display: grid;
    place-content: center;
}
#intro{
     background-image: url(/images/bg3.png);
    background-size:cover;
}

#wisam{
    font-family: 'Major Mono Display',
    monospace;
}
#second{
    display: flex;
    width: 99vw;
}

.inside{
    height: 50vh;
    width: 500px;
    border-radius: 2rem;
   // background-color: darkblue;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    //border: 1px solid rgb(177, 47, 47);
}

#map {
    position: absolute;
    right: 10%;
        border: 1px solid rgba(197, 180, 180, 1);
    img{
        height: 600px;
        position: relative;
    }
}
#cities{
    border: 1px solid rgba(197, 180, 180, 1);
    position: absolute;
    left:20%;
}
#jenin{
    position: absolute;
    color: red;
    top: 15%;
    left: 48%;
}
#jerusalem{
    position: absolute;
    color: red;
    top: 36%;
    left: 47%;
}

.city-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0%;
        border: 0px solid rgb(0, 166, 135);
        background-color: rgba(0, 0, 0,0);
        backdrop-filter: blur(0px);
        color: whitesmoke;
        cursor: help;

    
}



