html{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
    
    font-family: 'Baloo 2',
    cursive;
}
#bar{
    font-family: 'Major Mono Display',
    monospace;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 1rem;
    width: 90px;
    position:sticky;
    top: 40%;
    text-align: center;
    z-index: 5;
    ul{
        a{

            text-decoration: none;
            color: white;
        }
        margin-left: -40%;
    }

}
body{
    
    background-color: black;
    // background-image: url(/images/bg8.jpg);
    margin: 0;
    color: whitesmoke;
    //overflow: hidden;
    a{
        text-decoration: none;
        color: darkcyan;
    }
    h1{
        font-family: 'Major Mono Display',
        monospace;
    }
}
button{
    
    
    border-radius:50%;
    border: 0px solid rgba(255, 255, 255, 1);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: whitesmoke;
    cursor: pointer;
}

.container{
    text-align: center;
    margin-inline: auto;
}
//background-color: darkblue;

.card{
    
    /* h1 {
        padding-top: 20%;
    } */
    display: block;
    height: 100vh;
    display: grid;
    place-content: center;
    animation: fadeIn 4s;
}
#intro{
    --_offset: 15%;
    background-image: url(/images/bg3.png);
    background-size:cover;
    width: calc(100% + var(--_offset));
    transform: translateX(calc(-1 * (--_offset / 2)))
}

#wisam{
    border: 0px solid rgba(255, 255, 255, 1);
    font-family: 'Major Mono Display',
    monospace;
    
        padding-top: 20%;
    animation: border 2s;
}
#about h1{
    animation: loop 1s;
    animation-iteration-count: infinite;
}

#second{
    display: flex;
    width: 99vw;
    
}

.inside -second{
    height: 50vh;
    width: 500px;
    border-radius: 2rem;
   // background-color: darkblue;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    //border: 1px solid rgb(177, 47, 47);
}

#map {
       // border: 1px solid rgba(197, 180, 180, 1);
    
    position: relative;
}
#cities{
    margin-left: 85px;
    float: left;
    width: 50vw;
    text-align: center;
    //border: 1px solid rgba(197, 180, 180, 1);
    img{
        height: 500px;
        //overflow: hidden;
        border-radius: 1rem;
        
    }
    
    
}
#jenin{
    position: absolute;
    color: red;
    top: 21%;
    left:51%;
}
#jerusalem{
    font-size: 33px;
    position: absolute;
    color: red;
    top: 44%;
    right: 46%;
}
#gaza{
    position: absolute;
    color: red;
    top: 49%;
    right: 60%;
}
#nablus{
    position: absolute;
    color: red;
    top: 28%;
    right: 43%;
}
#haifa{
    position: absolute;
    color: red;
    top: 35%;
    right: 53%;
}

.city-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0%;
        border: 0px solid rgb(0, 166, 135);
        background-color: rgba(0, 0, 0,0);
        backdrop-filter: blur(0px);
        color: whitesmoke;
        cursor: help;

    
}
#links a{
    font-size: 28px;
    text-decoration: none;
    //color: black;
    color: gainsboro;
    padding: 10px;
    animation: loop 2s;
    animation-iteration-count: infinite;
}
#phone{

}
.animate{
animation: fadeIn .4s;
}


@keyframes fadeIn {
    0% {
        
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes border {
    0% {
    border: 100px solid rgba(255, 255, 255, 0);
    }

   
    100% {
        border: 0px solid rgba(255, 255, 255, 0);
    }
}
@keyframes loop {
    0% {
    margin-left: 0px;
    }

   
    50% {
        margin-left:4px ;
    }
    100% {
        margin-left: 0px;
    }
}